<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Português</title>
    <link rel="stylesheet" href="../css/portugues.css">
</head>
<body>
<div class="container">

    <div class="cabeca">
        <a href="../home.html">Home</a>
        <a href="professores.html">Professores</a>
        <a href="dep.html">Depoimentos</a>
    </div>

    <div class="conteudo">
        <h1>Conteúdo do Curso</h1>
        <p>Este curso tentarar oferecer um maior entedimento, sobre o basico de gramatica</p>
       
        <h1> Módulo 1 - Introdução à Gramática</h1>
        <h1>O que são substantivos?</h1>

        <p>Substantivos são palavras que nomeiam seres, lugares, sentimentos, noções ou qualidades:</p>
        <ul>
            <li> O <strong>cachorro</strong> pequeno latiu alegremente.</li>
            <li> Pedalei rapidamente na minha <strong>bicicleta</strong> azul.</li>
            <li>Amedrontadamente, vimos aquele <strong>filme</strong> assustador até ao fim.</li>
        </ul>

        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/8iXiBgCnGv4" 
            title="Vídeo Aula: Substantivos" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>
    
        <h1>O que são adjetivos?</h1>

        <p>Adjetivos são palavras que atribuem uma qualidade, uma característica, um aspecto ou um estado a um substantivo, caracterizando-o: </p>
        <ul>
            <li> O cachorro <strong>pequeno</strong> latiu alegremente.</li>
            <li> Pedalei rapidamente na minha bicicleta <strong>azul</strong></li>
            <li> Amedrontadamente, vimos aquele filme <strong>assustador</strong> até ao fim.</li>
        </ul>
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/2d6PW3xp2pA" 
            title="Vídeo Aula: Substantivos" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>

        <h1>O que são verbos?</h1>

        <p>Verbos são palavras que indicam, maioritariamente, uma ação:</p>

        <ul>
            <li> O cachorro pequeno <strong>latiu</strong> alegremente.</li>
            <li> <strong>Pedalei</strong> rapidamente na minha bicicleta azul</li>
            <li> Amedrontadamente, <strong>vimos</strong> aquele filme assustador até ao fim.</li>
        </ul>

        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/T8MB4vzTAv4"
            title="Vídeo Aula: Substantivos" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe>


    </div>

    <div class="rodape">
        <div class="sobre">
            <h1>Sobre nós</h1>
            <p>Este site desenvolvido por alunos do if,</p>
            <p> tentara proporcionar o ensino basico dos </p>
            <p>cursos disponiveis no catalogo.</p>
        </div>

        <div class="categoria">
            <h1>categoria dos cursos</h1>
            <p>Conhecimento basico</p>
        </div>
        
        <div class="cursos_dip">
            <h1>Cursos dispoiveis</h1>
            <p>Portugues basico</p>
            <p>Matematica basica</p>
            <p>Ingles basico</p>
            <p>Biologia basica</p>
        </div>
    </div>

</div>
</body>
</html>